<body class="bg-dark text-light">
    <div>
        <h2 class="text-success">Your File was successfully uploaded!</h2>
    </div>
    <%= link_to 'Back to Documents', document_path, class:'btn btn-outline-primary' %>
</body>